@keyframes ldio-rmc6qpwfh5 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg)}
}
.ldio-rmc6qpwfh5 div { box-sizing: border-box!important }
.ldio-rmc6qpwfh5 > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #0058c7 transparent #0058c7 transparent;
  animation: ldio-rmc6qpwfh5 1s linear infinite;
}
.ldio-rmc6qpwfh5 > div:nth-child(2) { border-color: transparent }
.ldio-rmc6qpwfh5 > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-rmc6qpwfh5 > div:nth-child(2) div:before, .ldio-rmc6qpwfh5 > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #0058c7;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #0058c7;
}
.ldio-rmc6qpwfh5 > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #0058c7;
}
.loadingio-spinner-dual-ring-ov2zegb6lbf {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-rmc6qpwfh5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rmc6qpwfh5 div { box-sizing: content-box;}

.centeredcontent{
display: block;
margin-left: auto;
margin-right: auto;
}